<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome To The Text Analizer. Enter Your Text Below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 732px; height: 109px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New line remove<br>
    <input type="checkbox" name="extraspaceremover">Extra spaces remove<br>
    <button type="submit">Analize Text</button>
</form>
</body>
</html>